<?xml version="1.0"?>
<!--Generates a urdf from the macro in kr16_2_macro.xacro -->
<robot name="wsg50_110" xmlns:xacro="http://wiki.ros.org/xacro">

  <link name="world"/>

  <xacro:include filename="$(find wsg50_description)/urdf/wsg50_110_macro.urdf.xacro" />
  <xacro:wsg50_110 name="wsg50_110" parent="world">
      <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:wsg50_110>

</robot>

