<?xml version="1.0"?>
<launch>
  <arg name="com_mode" default="script" />

  <include file="$(find wsg50_driver)/launch/wsg50.launch">
        <arg name="ip" value="192.168.20.2"/>
        <arg name="port" value="1500"/>
        <arg name="local_port" value="5501"/>
        <arg name="protocol" value="udp"/>
        <arg name="com_mode" value="$(arg com_mode)"/>
        <arg name="rate" value="50"/>
        <arg name="grasping_force" value="80"/>
    </include>

</launch>

